<header class="header">
  <div class="inner">
    <!-- logo -->
    <div class="logo">
      <a href="#" title="返回首页~">
        <img
          src="https://s.anw.red/anyway.fm/logo.svg"
          alt="Anyway.FM 设计杂谈 • UI 设计师 JJ Ying 和 Leon Gao 主播的设计杂谈播客"
        />
        <span class="desc"
          >Anyway.FM 设计杂谈 • UI 设计师 JJ Ying 和 Leon Gao
          主播的设计杂谈播客</span
        >
      </a>
    </div>
    <!-- tagline -->
    <div class="tagline">
      Anyway.FM 设计杂谈是一档播客节目，由 UI 设计师 JJ Ying 和 Leon Gao
      主播，我们的目标是让你的听觉更懂<span class="dummy">视觉。</span>
    </div>
    <!-- nav -->
    <div class="nav">
      <ul>
        <li>
          <a class="mobile-hide nav-about" href="#">
            <svg
              class="nav-icon"
              viewBox="0 0 30 30"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 10.2L15 14.8 25 8.2 15 1.5C15 3.5 15 5 15 5.9 9.5 5.9 5 10.4 5 15.9 5 21.5 9.5 26 15 26 20.5 26 25 21.5 25 15.9 25 14.5 24.9 14.3 24.4 13"
                class="stroke"
              ></path>
              <path
                d="M11.1 13.8C10.2 16.3 11.1 18.5 13.2 19.5 15.3 20.6 18.1 19.6 19 17.5"
                class="stroke highlight"
              ></path>
            </svg>
            <span>主页</span>
          </a>
        </li>
        <li>
          <a class="nav-member" href="#">
            <svg
              class="nav-icon"
              viewBox="0 0 30 30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g class="stroke">
                <circle cx="13" cy="13" r="9"></circle>
                <path d="M22.5,22.5 L26,26"></path>
                <circle cx="13" cy="13" r="9"></circle>
              </g>
              <path
                d="M9 13.6C9.5 14.9 10.6 16.5 12.2 17"
                class="highlight stroke"
              ></path>
            </svg>
            <span>归档</span>
          </a>
        </li>
        <li>
          <a class="nav-archive" href="#">
            <svg
              class="nav-icon"
              viewBox="0 0 30 30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g class="stroke">
                <circle cx="13" cy="13" r="9"></circle>
                <path d="M22.5,22.5 L26,26"></path>
                <circle cx="13" cy="13" r="9"></circle>
              </g>
              <path
                d="M9 13.6C9.5 14.9 10.6 16.5 12.2 17"
                class="highlight stroke"
              ></path>
            </svg>
            <span>标签</span>
          </a>
        </li>
        <li>
          <a class="nav-archive" href="#">
            <svg
              class="nav-icon"
              viewBox="0 0 30 30"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g class="stroke">
                <circle cx="13" cy="13" r="9"></circle>
                <path d="M22.5,22.5 L26,26"></path>
                <circle cx="13" cy="13" r="9"></circle>
              </g>
              <path
                d="M9 13.6C9.5 14.9 10.6 16.5 12.2 17"
                class="highlight stroke"
              ></path>
            </svg>
            <span>分类</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
