<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title><%= config.title %></title>
  <!--支持响应式 -->
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <!--&lt;!&ndash; 网站关键字，影响SEO &ndash;&gt;-->
  <!--<meta name="keywords" content="{{ head_keywords() }}">-->
  <!--&lt;!&ndash;网站描述，影响SEO &ndash;&gt;-->
  <!--<meta name="description" content="{{ head_description() }}">-->


  <%- css('css/main.css') %>
</head>